<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="member">
	<insert id="insert" parameterType="memberVO">
		insert into member
		values (
		#{memberID},
		#{memberPW},
		#{memberName},
		#{memberBirth},
		#{memberGender},
		#{memberAddr},
		#{memberTel},
		#{memberEmail},
		#{memberAlarm})
	</insert>
	
	 <select id="login" parameterType="memberVO" resultType="memberVO">
        SELECT * FROM member WHERE BINARY memberID = #{memberID} AND BINARY memberPW = #{memberPW}
        <!-- 대소문자 구분을 위해 BINARY 사용 -->
    </select>
    
    <!-- 아이디 중복 체크 -->
    <select id="idCheck" resultType="int">
    	select count(*) from member
    	where memberID = #{memberID}
    </select>
    
</mapper>
