table {
width: 100%;
border-collapse: collapse;
	}

th, td {
padding: 5px;
text-align: center;
border: 1px solid #ddd;
	}
	
th {
background-color: #f2f2f2;
	}
	
td {
height: 15px;
vertical-align: middle;
	}
	
dd {
vertical-align: middle;
margin-bottom: 20px;
	}

.prd_info_wrap {
    display: flex;
    grid-template-columns: 2fr 1fr;
    padding: 10px;
    margin-bottom: 20px;
}

.thumb {
    flex: 1.5;
}

.prd_info {
	margin-left: 30px;
    flex: 2;
}

.prd_info .title h3 {
    font-size: 20px;
    font-weight: bold;
}

.prd_info dl {
    margin: 10px 0;
}

.prd_info dl dt {
    font-weight: bold;
    margin-bottom: 5px;
}

#calendar-title {
	display:inline-block;
	width: 171px;
	text-align: center;
}

#prev-month, #next-month {
	margin-right: 15px;
	margin-left: 15px;
	border: none;
	background-color: fff;
	font-size: 40px;
}

#calendar-header {
	font-weight: bolder;
	font-size: 30px;
	margin-bottom: 30px;
}

#calendar-container {
	flex-direction: column;
	display: flex;
	justify-content: start;
	align-items: center;
}

#calendar {
    width: 400px; /* 원하는 너비로 조정하세요 */
    height: 350px;
  }

#date {
	padding: 10px 20px;
	background-color: #000;
	color: #fff;
	border-radius: 10px;
	text-decoration: none;
	margin-top: 15px;
	margin-right: 150px;
	width: 235px;
	text-align: center;
}

#message {
	margin-top: 15px;
	margin-right: 160px;
	font-weight: bold;
}

.reservation-button {
	padding: 10px 20px;
	background-color: #000;
	color: #fff;
	border-radius: 10px;
	text-decoration: none;
	cursor: pointer;
	margin-top: 25px;
	margin-right: -250px;
}

.navy {
	position: absolute;
	top: 10px;
	right: 10px;
	}
	
.pre-page {
	position: absolute;
	top: 20px;
	left: 10px;
	}