.header {
	
}

table {
width: 100%;
border-collapse: collapse;
	}

th, td {
padding: 5px;
text-align: center;
border: 1px solid #ddd;
	}
	
th {
background-color: #f2f2f2;
	}
	
td {
height: 15px;
vertical-align: middle;
	}
	
dd {
vertical-align: middle;
margin-bottom: 20px;
	}

.table-container {
    width: 100%;
    margin-bottom: 20px;
}

.table-container td,
.table-container th {
    padding: 10px;
    text-align: left;
    border: none;
}

.prd_info_wrap {
    display: flex;
    grid-template-columns: 2fr 1fr;
    padding: 10px;
    margin-bottom: 20px;
}

.thumb {
    flex: 1.5;
}

.prd_info {
	margin-left: 30px;
    flex: 2;
}

.prd_info .title h3 {
    font-size: 20px;
    font-weight: bold;
}

.prd_info dl {
    margin: 10px 0;
}

.prd_info dl dt {
    font-weight: bold;
    margin-bottom: 5px;
}

#calendar-title {
	display:inline-block;
	width: 171px;
	text-align: center;
}

#prev-month, #next-month {
	margin-right: 15px;
	margin-left: 15px;
	border: none;
	background-color: fff;
	font-size: 40px;
}

#calendar-header {
	font-weight: bolder;
	font-size: 30px;
	margin-bottom: 30px;
}

#calendar-container {
	flex-direction: column;
	display: flex;
	justify-content: start;
	align-items: center;
}

#calendar {
    width: 400px; /* 원하는 너비로 조정하세요 */
    height: 350px;
  }

#calendar-footer {
	margin-top: 20px;
	margin-right: -100px;
	text-align: right;
}

#date, #message, #remain {
	padding-bottom: 5px;
	display: block;
	font-weight: bold;
}

#message {
	display: block;
	font-weight: bold;
}

#remain {
	display: block;
	font-weight: bold;
}

.input-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.round-button {
	background-color: #3498db;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.input-field {
    width: 50px;
    padding: 8px;
    text-align: center;
    font-size: 16px;
}

.totalprice {
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

.reservation-button {
	padding: 10px 20px;
	background-color: #000;
	color: #fff;
	border-radius: 10px;
	text-decoration: none;
	cursor: pointer;
}

.navy {
	position: absolute;
	top: 10px;
	right: 10px;
	}

.pre-page {
	position: absolute;
	top: 20px;
	left: 10px;
	}